.space100{
    height: 100px;
    width: 1330px;
    border:1px solid #009F00;
    background-color: #009F00;
    position: relative;
    top: 10px;
    left: 3px;
    float: left;
}
.registelabel{

    font-size: 1.8em;
    font-style: normal;
    text-align:start;
    position:relative;
    left:165px;
    top:5px;

    display: block;
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;

    width:500px;
    height:50px;
    text-transform: uppercase;
    color: #ccc;
    border: 0 none;
    border-radius: 0px;
    text-shadow: 0 01px 0 #000;
    transition: all 150ms ease;


}
.registelabel_point{
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:1.2em;
    position:relative;
    left:50px;
    color:#2A3F55;
}
.registelabel_Agree{
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:1em;
    position:relative;
    left:140px;
    top:-15px;
    color:#2A3F55;
}
.rob_check{
    width:20px;
    height:20px;
    position:relative;
    left:20px
   /* top:5px;*/
}
.check2 {
    width: 80px;
    height: 26px;
    background: #333;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    left:20px;
    top:10px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.check2:after {
    content: 'NO';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.check2:before {
    content: 'YES';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}
.check2 label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.check2 input[type=checkbox]:checked + label {
    left: 43px;
}
/*---------------------------------------------------------------------------------------------------------------------*/

.check1 {
    width: 80px;
    height: 26px;
    background: #333;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    left:20px;
    top:10px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.check1:after {
    content: 'NO';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.check1:before {
    content: 'YES';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}
.check1 label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.check1 input[type=checkbox]:checked + label {
    left: 43px;
}

body {
    /*background: #555;*/
}

/*h1 {
        color: #eee;
        font: 30px Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-shadow: 0px 1px black;
        text-align: center;
        margin-bottom: 50px;
}*/

input[type=checkbox] {
    visibility: hidden;
}
.urtextfeled{
    width:645px;
    height:30px;
    position:relative;
    top:3px;
    left:23px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:16px;
    color:#960;

}
.urpassword{
    width:240px;
    height:30px;
    position:relative;
    top:3px;
    left:23px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:16px;
    color:#960;

}
.combo::-ms-expand {
    display: none; /* hide default arrow in IE10 */
}
.combo {
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:16px;
    width:240px;
    height:40px;
    margin: 0 0 10px;
    padding: 6px 0; /* use this to set a specific height for your dropdown (DO NOT use the attribute 'height') */
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";
    position:relative;
    top:3px;
    left:23px;
    -webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    appearance: none;
}
.combo option {
    background: #999; /* style the dropdown bg color */
}
.signbtn{
    display: block;
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 14px;
    width:100px;
    height:35px;
    text-transform: uppercase;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-shadow: 0 01px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float:left;
    position:relative;
    top:3px;
    left:20px;
}
.signbtn:hover, searhbtn:focus
{
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

.signbtn:active
{
    color: #fff;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    animation: none;
}
.loginancher{
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:20px;
    color:#F00;
    text-decoration:none;
}
.wisthra{
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size:16px;
    color:#000;
    position:relative;
    top:0px;
    left:320px;
}
.itemlist_ur{
    width:1330px;
    height:900px;
    /*background-color:#2A7F55;*/
    border:1px solid #009F00;
}
.maintable_ur{

    width:1330px;
    height:1750px;/*2150*/
    /*background-color:#A0A0A4;*/
    /*border:1px solid #009F00;*/

}